<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Авторизация</title>
    <link rel="stylesheet" href="/static/styles/style.css">
</head>
<body class="login-page">
    <div class="login-container">
        {% if wrong %}
            <p class="error-message">Неверный логин или пароль</p>
        {% endif %}
        <form method="post" action="/auth" class="login-form">
            <fieldset>
                <legend>Авторизация</legend>
                <label for="login">Логин:</label>
                <input type="text" id="login" name="login" required placeholder="Введите логин">
                
                <label for="pass">Пароль:</label>
                <input type="password" id="pass" name="pass" required placeholder="Введите пароль">
                
                <input type="submit" value="Войти" class="submit-button">
            </fieldset>
        </form>
        <a href="/register" class="register-button">Регистрация</a>
    </div>
</body>
</html>
