<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Нет данных</title>
    <link rel="stylesheet" type="text/css" href="/static/styles/style.css">
</head>
<body>
    <h1>Нет данных</h1>
    <p>{{ message }}</p>
    <div class="button-group">
        <button class="return" onclick="window.location.href = '/requests';">Назад в меню запросов</button>
        <button class="return" onclick="window.location.href = '/';">Назад в главное меню</button>
    </div>
</body>
</html>
