<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Введите параметр</title>
    <link rel="stylesheet" href="/static/styles/oform.css">
</head>
<body>
    <div class="form-container">
        <h1>Введите {{ param_name }}</h1>
        <form action="{{ action_url }}" method="POST">
            <label for="param">{{ param_name }}</label>
            <input type="text" id="param" name="vacancy_name" required>
            <input type="submit" value="Отправить">
        </form>
        <div class="navigation-buttons">
            <a href="/requests" class="btn">Вернуться в меню запросов</a>
            <a href="/menu" class="btn">Вернуться в главное меню</a>
        </div>
    </div>
</body>
</html>
